/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/bin
/vendor/composer
/vendor/doctrine
/vendor/incenteev
/vendor/jdorn
/vendor/monolog
/vendor/paragonie
/vendor/psr
/vendor/sensio
/vendor/sensiolabs
/vendor/swiftmailer
/vendor/symfony
/vendor/twig
/vendor/autoload.php
