    <style>
        #loading {

            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            color: #000;
            font-size: 60px;
            font-weight:bold;
            z-index: 2;
        }
        /*
        z-index'o deka loading yra ant kalendorio o ne uz kalendorio.
        */

        #calendar {
            z-index: 1;
        }
        #script-warning{
            visibility: hidden;
        }
    </style>


    <head>



    </head>

            <div class="row">
                <section class="col-lg-10 col-lg-offset-1">
                    <h1>
                    <a class="fa fa-plus" href="{{ path('calendar_add') }}">
                    </a>
                    </h1>

                            <div class="box box-primary">
                                <div class="box-body no-padding">
                                    <!-- THE CALENDAR -->
                                    <div id='script-warning'>
                                        Informacijos apdorojimo klaida. <code>JSON</code> duomenys nepasiekiami.
                                    </div>
                                    <div id="calendar">
                                        <div id='loading'>
                                            <i class="fa fa-refresh fa-spin"></i>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /. box -->
                        </div>
                        <!-- /.col -->


                </section>
        <!-- /.content -->
            </div>
        <!-- /.content-wrapper -->


    <script>
        $(document).ready(function() {



            /* initialize the calendar
             -----------------------------------------------------------------*/
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: ''
                },
                editable: true, //
                navLinks: true, // can click day/week names to navigate views
                eventLimit: true, // allow "more" link when too many events
                droppable: false, // this allows things to be dropped onto the calendar
                events: {
                    url: '{{ path('json') }}',
                    error: function() {
                         $('#script-warning').show(function () {
                             alert('retard');
                         });
                    }
                },



                loading: function(bool) {
                    $('#loading').toggle(bool);
                },

                eventClick: function(calEvent, jsEvent, view) {

                    //alert('Event: ' + calEvent.title);
                    //alert(calEvent.id);


                    //WRONG!!

                    window.location.replace("edit/" + calEvent.id);

                    //alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                    //alert('View: ' + view.name);


                },

                eventDrop: function(event, delta, revertFunc) {

                    $.ajax({
                        url: '{{ path('calendar_update') }}',
                        type: "POST",
                        data: JSON.stringify({
                            id: event.id,
                            start: event.start.format(),
                            end: event.end.format()
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json'
                    });

                }

            });
        });



    </script>