<div class="row">
<div class="sidebar">
    <div class="list-group">
        <a href="{{ path('user_index') }}" class="list-group-item">Users</a>
        <a href="{{ path('programa_index') }}" class="list-group-item">Programos</a>
        <a href="{{ path('calendar') }}" class="list-group-item">Calendar</a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
    </div>
</div>
    </div>