<footer class="main-footer">
    <div class="pull-right hidden-xs">
        {#
        <b>Version</b> 2.3.8
        #}
    </div>
    <strong>Copyright &copy; <a href="mailto:rajmondik1@gmail.com">Raimond Maleckij</a> @ <a href="http://www.vka.lt">VKA</a>  .</strong> All rights
    reserved.
</footer>