

<!-- Main row -->
<div class="row">
    <section class="col-lg-12">

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Programos
                <a class="fa fa-plus" href="{{ path('programa_add') }}"></a></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="table" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>
                            Pavadinimas
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for programa in programa %}
                        <tr data-href="{{ path("programa_show", {programa: programa.id}) }}">
                            <td>{{ programa.pavadinimas }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>
                            Pavadinimas
                        </th>
                    </tr>
                    </tfoot>
                </table>

        </div>
    </section>
</div>
<!-- /.row (main row) -->
