{% extends "base.html.twig" %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <link href='../fullcalendar.min.css' rel='stylesheet' />
    <link href='../fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <script src='../lib/moment.min.js'></script>
    <script src='../lib/jquery.min.js'></script>
    <script src='../lib/jquery-ui.min.js'></script>
    <script src='../fullcalendar.min.js'></script>
    <script>

        $(document).ready(function() {



            /* initialize the calendar
             -----------------------------------------------------------------*/

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listWeek'
                },
                editable: true, //
                navLinks: true, // can click day/week names to navigate views
                eventLimit: true, // allow "more" link when too many events
                droppable: true, // this allows things to be dropped onto the calendar
                events: {
                    url: '{{ path('json') }}',
                    error: function() {
                        $('#script-warning').show();
                    }
                },

                //dropinimo funkcija

                drop: function() {
                    // is the "remove after drop" checkbox checked?
                    if ($('#drop-remove').is(':checked')) {
                        // if so, remove the element from the "Draggable Events" list
                        $(this).remove();
                    }
                },


                loading: function(bool) {
                    $('#loading').toggle(bool);
                },
                eventDrop: function(event, delta, revertFunc) {

                    $.ajax({
                        url: '{{ path('calendar_update') }}',
                        type: "POST",
                        data: JSON.stringify({
                            id: event.id,
                            start: event.start.format(),
                            end: event.end.format()
                        }),
                        contentType: "application/json; charset=utf-8",
                        dataType: 'json',
                    });

                }
            });

            /* initialize the external events
             -----------------------------------------------------------------*/

            $('#external-events .fc-event').each(function() {

                // store data so the calendar knows to render an event upon drop
                $(this).data('event', {
                    title: $.trim($(this).text()), // use the element's text as the event title
                    stick: true // maintain when user navigates (see docs on the renderEvent method)
                });

                // make the event draggable using jQuery UI
                $(this).draggable({
                    zIndex: 999,
                    revert: true,      // will cause the event to go back to its
                    revertDuration: 0  //  original position after the drag
                });

            });
        });

    </script>
    <style>

        body {
            margin: 0;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }

        #script-warning {
            display: none;
            background: #eee;
            border-bottom: 1px solid #ddd;
            padding: 0 10px;
            line-height: 40px;
            text-align: center;
            font-weight: bold;
            font-size: 12px;
            color: red;
        }

        #loading {
            display: none;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        #calendar {
            max-width: 900px;
            margin: 40px auto;
            padding: 0 10px;
        }

    </style>
</head>
<body>


<div id='script-warning'>
    <code>php/get-events.php</code> must be running.
</div>
<div class="alert alert-info" role="alert" id='loading'>
Loading...
</div>

<a href="{{ path('calendar_add') }}">Prideti eventa</a>


<div>

    <div id='external-events'>
        <h4>Draggable Events</h4>
        <div class='fc-event'>My Event 1</div>
        <div class='fc-event'>My Event 2</div>
        <div class='fc-event'>My Event 3</div>
        <div class='fc-event'>My Event 4</div>
        <div class='fc-event'>My Event 5</div>
        <p>
            <input type='checkbox' id='drop-remove' />
            <label for='drop-remove'>remove after drop</label>
        </p>
    </div>

    <div id='calendar'></div>

</div>

</body>
</html>
{% endblock %}
