<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

{% include 'admin/styles.html.twig' %}

  {% block css %}{% endblock %}

</head>




{{ include('admin/admin_sidebar.html.twig') }}
{#
{{ include('admin/admin_content.html.twig') }}
#}


{% block content %}{% endblock %}

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.3.11
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
    reserved.
  </footer>



{% include 'admin/scripts.html.twig' %}
{% block javascript %}{% endblock %}
</body>
</html>
