<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('../vendor/twbs/bootstrap/dist/css/bootstrap.min.css') }}" />
<script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous"></script>

<script src="{{ asset('../vendor/twbs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
</head>
<body>

<script>
    $(document).ready(function(){
        $("#table").hide();
        $("#table").fadeIn(2000);
    });
</script>

{{ include('default/navbar.html.twig') }}

<div class="col-xs-2">{% include 'default/sidebar.html.twig' %}</div>


<div class="col-xs-10">{% include 'admin/user/user.html.twig' %}</div>





{% block javascripts %}{% endblock %}
</body>
</html>
